body {
  margin: 0%;
  padding: 0%;
  background-color: #fbd3a3;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  justify-content: center;
  background: #43a047;
  padding: 20px;
  color: white;
  gap: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #43a047;
  font-family: 'Rubik Dirt', cursive;
}

.container-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 180px;
  width: 250px;
}

.heart {
  padding: 4px;
}

.info-img {
  display: flex;
  margin-left: 5%;
  padding-top: 40%;
  color: white;
}
